<?php

require_once 'authentication.php';

?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benguet</title>
    <link rel="shortcut icon" type="image/png" href="./imgs/benguet logo.png"/>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
</head>
<body id="data_list" class="sidebar-fixed header-fixed" ng-app="dataList" ng-controller="dataListCtrl">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="javascript:;">
            <img src="./imgs/benguet-logo.png" style ="width:200px; height: 45px;" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" account-profile>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img ng-src="{{profile.picture}}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{profile.user}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" drop-down></div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">NAVIGATION</li>

                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i>Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="data_list.html" class="nav-link active">
                            <i class="icon icon-graph"></i>Data Logs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="locations.html" class="nav-link">
                            <i class="icon icon-location-pin"></i>Locations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="user-profile.html" class="nav-link">
                            <i class="icon icon-user"></i>User Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="users-list.html" class="nav-link">
                            <i class="icon icon-people"></i>Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <span><br><br><img src="imgs/benguet logo.png" width="160px" height="160px" style="margin-left: 35px;"></span>
                    </li>
                </ul>
            </nav>
        </div>

<div class="content">
            <div class="container-fluid">             
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" ng-repeat="location in logs">
                                <a class="nav-link" ng-class="{'active': $index==0}" data-toggle="tab" href="#location_{{location.id}}" role="tab" aria-controls="location_{{location.id}}">{{location.location}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div ng-repeat="location in logs" class="tab-pane" ng-class="{'active': $index==0}" id="location_{{location.id}}" role="tabpanel"> 
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">                   
                                            

                                            <select name="factors" id="factor_select" class="form-control" ng-model="page[$index].search">
                                                <option value="">All</option>
                                                <option value="Temperature">Temperature</option>
                                                <option value="Humidity">Humidity</option>
                                                <option value="Rain">Rain</option>
                                                <option value="Soil">Soil Moisture</option>
                                                <option value="Dew">Dew Moisture</option>
                                            </select>
                                        </div>
                                        <hr>
                                    </div>
                                </div>             
								<div class="card-body">
									<div class = "row w_scroll">
										<table class="table table-striped">
											<thead>
												<tr>
													<!-- <th>Id</th> -->
													<th>Factor</th>
													<th>Value</th>
													<th>Date / Time</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="f in page[$index].filterData = (location.data | filter:page[$index].search) | pagination: page[$index].currentPage:page[$index].pageSize">
													 <!-- <td >{{f.id}}</td> -->
													<td >{{f.factor}}</td>
													<td >{{f.value}}</td>
													<td >{{f.datetime}}</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="3">
														<ul uib-pagination direction-links="true" boundary-links="true" total-items="page[$index].filterData.length" ng-model="page[$index].currentPage" max-size="page[$index].maxSize"></ul>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /content -->
        
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/dashboard.js"></script>

<!-- dependencies -->
<script src="vendor/bootbox/bootbox.min.js"></script>
<script src="vendor/growl/jquery.bootstrap-growl.min.js"></script>
<script src="vendor/blockui/jquery.blockUI.js"></script>

<script src="angular/angular.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<script src="angular/angular-sanitize.min.js"></script>
<script src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>

<script type="text/javascript" src="js/mqttws31.min.js"></script>

<!-- modules -->
<script src="modules/bootstrap-modal.js"></script>
<script src="modules/blockui.js"></script>
<script src="modules/growl.js"></script>
<script src="modules/account.js"></script>
<script src="modules/notifications.js"></script>
<script src="modules/module-access.js"></script>

<script src="modules/data_list.js"></script>
<!-- controller -->
<script type="text/javascript" src="angular/angu-fixed-header-table.js"></script>

<script src="controllers/data_list.js"></script>

</body>
</html>
